{# @var \App\Entity\User user #}
{% extends "ajax/ajax.html.twig" %}
{% block title %}{{ user.name ~ " - " ~ town.name }}{% endblock %}
{% block menu_text %}
    {{parent()}}
    <li class="back-dash" x-ajax-href="{{ url('game_landing') }}">{{ 'Zum Spiel'|trans({},'global') }}</li>
{% endblock %}
{% block ajax %}
    {# @var town \App\Entity\TownRankingProxy #}
    <div class="row soul">
        <div class="cell padded header rw-10 ro-1 rw-md-12 ro-md-0">
            <div class="row">
                <div class="cell padded rw-4">
                    <button class='inline' x-ajax-href="{{path('soul_visit', {id: user.id})}}"><img src="{{asset('build/images/soul/small_back.gif')}}" alt ="" /> {{'Zurück'|trans({}, 'global')}}</button>
                </div>
            </div>
            {% include 'ajax/soul/view_town_content.html.twig' with {'return_to': self_path, 'base_path': path('soul_visit', {id: user.id}), 'user_name': user.name} %}
        </div>
    </div>
{% endblock %}