@import (once) "../theme";

.log-container {
  position: relative;
}

.log {
  background: @myhordes-cell-header-background-color; border: 1px solid @myhordes-input-border;
  padding: 4px; position: relative; z-index: 1;
  &>.log-content {
    font-size: 1.2rem; color: @myhordes-cell-header-text-color; max-height: 300px; overflow-y: auto;
    &>.log-spinner, &>.log-complete-link { padding: 5px; }
    &>.log-complete-link { cursor: pointer; text-decoration: underline; display: inline-block; }

    &>.log-silence {
      padding: 5px 0 8px 4px;
      margin: 2px 0 0;
      font-size: 8pt;
      font-weight: bold;
      color: #98a675;
      text-transform: uppercase;
      border: 0;
      border-top: 1px dashed #b37c4a;
    }

    &>.log-day-header {
      margin-top: 5px;
      margin-bottom: 2px;
      padding-left: 0;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 8pt;
      border-bottom: 1px dashed #b37c4a;
      &+.log-silence { border-top: 0 }
    }

    &>.log-entry {
      &:before { content: " "; height: 16px; width: 16px; top: 2px; left: 2px; position: absolute; }
      padding: 1px 2px 1px 20px; position: relative; cursor: default; margin: 0; word-wrap: anywhere;
      &>span.log-part-time {
        color: @myhordes-smalltext; font-size: 0.9em; display: inline-block; width: 50px;
        position: relative; text-align: center;
        &:before, &:after { display: block; width: 10px; position: absolute; top: 0; }
        &:before{ content: '['; left: 0; } &:after{ content: ']'; right: 0; }
      }
      &>span.log-part-content {
        &>span { 
          color: white; font-weight: bold; font-variant: small-caps; &>img { vertical-align: text-top }
          &.jobName {
            font-weight: normal;
            font-style: italic;
            color: @myhordes-cell-header-text-color;
          }
          &.tool {
            padding-left: 3px;
            padding-right: 3px;
            white-space: nowrap;
            background-color: #784323;
            max-width: 100%;
            display: inline-block;
            overflow: hidden;
            text-overflow: ellipsis;
            vertical-align: text-top;
          } 
        }
        &.log-part-entry-hidden {
          background-color: #4d5537;
          color: #98a675;
          font-weight: bold;
        }
      }

      &.log-entry-class-0 {}
      &.log-entry-class-1 { background-color: #820000; span.log-part-content span.tool { background-color: #a00; } }
      &.log-entry-class-2 { background-color: #ad2714; span.log-part-content span.tool { background-color: #a00; } }
      &.log-entry-class-3 { background-color: #965c36; font-weight: bold; }
      &.log-entry-class-4 { background-color: #3b3249; .log-part-content { font-style: italic; } }
      &.log-entry-class-5 { background-color: #b05502; }

      &.log-entry-type-0  {}
      &.log-entry-type-1  { &:before { background: url("../../img/log/citizen.gif") } }
      &.log-entry-type-2  { &.log-entry-class-0:before { background: url("../../img/log/bank_in.gif") } &.log-entry-class-1:before { background: url("../../img/log/bank_out.gif") } }
      &.log-entry-type-3  {}
      &.log-entry-type-4  { &:before { background: url("../../img/log/build.gif") } }
      &.log-entry-type-5  { &:before { background: url("../../img/log/workshop.gif") } }
      &.log-entry-type-6  { &.log-entry-class-0:before { background: url("../../img/log/door_open.gif") } &.log-entry-class-3:before { background: url("../../img/log/door_closed.gif") } }
      &.log-entry-type-7  { &:before { background: url("../../img/log/well.gif") } }
      &.log-entry-type-8  { &:not(.log-entry-class-2):before { background: url("../../img/log/citizen.gif") } &.log-entry-class-2:before { background: url("../../img/log/death.gif") } }
      &.log-entry-type-9  { &:before { background: url("../../img/log/night.gif") } }
      &.log-entry-type-10 { &:before { background: url("../../img/log/home.gif") } }
      &.log-entry-type-11 {
        &:before { background: url("../../img/log/chat.gif") }
        div.dice-4, div.dice-6, div.dice-8, div.dice-10, div.dice-12, div.dice-20, div.dice-100, div.letter-a, div.letter-c, div.letter-v,
        div.rps, div.coin, div.card, div.citizen {
          display: inline-block; padding: 1px 3px 1px 19px; background: #36241b; font-size: 0.8em; margin: 0 2px;
        }
        div.citizen {
          &[x-a=any]         { background: url("../../img/icons/small_human.gif") left center no-repeat, #36241b }
          &[x-a=none]        { background: url("../../img/icons/small_human.gif") left center no-repeat, url("../../img/professions/looser.gif") left 16px center no-repeat #36241b; padding-left: 35px }
          &[x-a=basic]       { background: url("../../img/icons/small_human.gif") left center no-repeat, url("../../img/professions/basic.gif") left 16px center no-repeat #36241b; padding-left: 35px }
          &[x-a=collec]      { background: url("../../img/icons/small_human.gif") left center no-repeat, url("../../img/professions/dig.gif") left 16px center no-repeat #36241b; padding-left: 35px }
          &[x-a=guardian]    { background: url("../../img/icons/small_human.gif") left center no-repeat, url("../../img/professions/shield.gif") left 16px center no-repeat #36241b; padding-left: 35px }
          &[x-a=hunter]      { background: url("../../img/icons/small_human.gif") left center no-repeat, url("../../img/professions/vest.gif") left 16px center no-repeat #36241b; padding-left: 35px }
          &[x-a=tamer]       { background: url("../../img/icons/small_human.gif") left center no-repeat, url("../../img/professions/tamer.gif") left 16px center no-repeat #36241b; padding-left: 35px }
          &[x-a=tech]        { background: url("../../img/icons/small_human.gif") left center no-repeat, url("../../img/professions/tech.gif") left 16px center no-repeat #36241b; padding-left: 35px }
          &[x-a=shaman]      { background: url("../../img/icons/small_human.gif") left center no-repeat, url("../../img/professions/shaman.gif") left 16px center no-repeat #36241b; padding-left: 35px }
          &[x-a=survivalist] { background: url("../../img/icons/small_human.gif") left center no-repeat, url("../../img/professions/book.gif") left 16px center no-repeat #36241b; padding-left: 35px }
          &[x-a=hero]        { background: url("../../img/icons/small_human.gif") left center no-repeat, url("../../img/professions/hero.gif") left 16px center no-repeat #36241b; padding-left: 35px }
          &[x-a=dead]        { background: url("../../img/icons/small_human.gif") left center no-repeat, url("../../img/professions/death.gif") left 16px center no-repeat #36241b; padding-left: 35px }
          &[x-a=shunned]     { background: url("../../img/icons/small_human.gif") left center no-repeat, url("../../img/icons/banished.gif") left 16px center no-repeat #36241b; padding-left: 35px }
        }
        div.dice-4   { background: url("../../img/forum/dice4.png")   left center no-repeat, #36241b }
        div.dice-6   { background: url("../../img/forum/dice6.png")   left center no-repeat, #36241b }
        div.dice-8   { background: url("../../img/forum/dice8.png")   left center no-repeat, #36241b }
        div.dice-10  { background: url("../../img/forum/dice10.png")  left center no-repeat, #36241b }
        div.dice-12  { background: url("../../img/forum/dice12.png")  left center no-repeat, #36241b }
        div.dice-20  { background: url("../../img/forum/dice20.png")  left center no-repeat, #36241b }
        div.dice-100 { background: url("../../img/forum/dice100.png") left center no-repeat, #36241b }
        div.letter-a { background: url("../../img/forum/lta.png")     left center no-repeat, #36241b }
        div.letter-c { background: url("../../img/forum/ltc.png")     left center no-repeat, #36241b }
        div.letter-v { background: url("../../img/forum/ltv.png")     left center no-repeat, #36241b }
        div.rps      { background: url("../../img/forum/rps.png")     left center no-repeat, #36241b }
        div.coin     { background: url("../../img/forum/coin.png")    left center no-repeat, #36241b }
        div.card     { background: url("../../img/forum/card.png")    left center no-repeat, #36241b }
      }
      &.log-entry-type-17 { &:before { background: url("../../img/log/well_add.gif") } }
      &:hover { 
        background-color: #7e4d2a; border-color: #ddab76; border-width: 1px; border-style: solid; padding: 0px 1px 0px 19px; 
        &:before { top: 1px; left: 1px; }
      }
    }
  }
  &+.log-day-select {
    position: relative; width: 100%; overflow-x: auto; top: -3px; white-space: nowrap;
    &>div {
      overflow: visible; display: inline-block; position: relative;
      &>div {
        display: inline-block; font-size: 0.7em;  background: @myhordes-cell-header-background-color; width: 60px;
        text-align: center; border: 1px solid @myhordes-input-border; position: relative; padding: 3px;
        color: @myhordes-smalltext; cursor: pointer;
        &.current {
          color: white;
          font-weight: bold;
          border-top: none;
          z-index: 2
        }
        &:not(.current) { top: -1px; }
        &>span { font-weight: bold; font-variant: small-caps; }
      }
    }

  }

}

.shoutbox {
  background: @myhordes-cell-header-background-color; border: 1px solid @myhordes-input-border;
  padding: 4px;
  &>.shout-content {
    font-size: 1.2rem; color: #f0d79e; max-height: 450px; overflow-y: auto;
    &>.shout-loader { text-align: center; }
    &>.shout-separator {
      margin: 3px 0; border-bottom: 1px solid #f0d79e;
    }
    &>.shout-entry {
      &:before { content: " "; height: 16px; width: 16px; top: 2px; left: 2px; position: absolute; }
      padding: 2px; position: relative; cursor: default; margin: 1px 0; background-color: transparent;
      &>span.shout-part-time {
        color: @myhordes-smalltext; font-size: 0.9em; display: inline-block; width: 50px;
        position: relative; text-align: center;
        &:before, &:after { display: block; width: 10px; position: absolute; top: 0; }
        &:before{ content: '['; left: 0; } &:after{ content: ']'; right: 0; }
      }
      &>span.shout-part-content {
        &>span {
          color: white; font-weight: bold; font-variant: small-caps; &>img { vertical-align: text-top }
          &.tool {
            padding-left: 3px;
            padding-right: 3px;
            white-space: nowrap;
            background-color: #784323;
          }
        }
        b { color: white }
        strong { color: white; font-variant: small-caps; }
        word-wrap: break-word;
      }

      &.shout-entry-class-1 {
        b { color: white }
        background-color: #3b3249;

        div.dice-4, div.dice-6, div.dice-8, div.dice-10, div.dice-12, div.dice-20, div.dice-100, div.letter-a, div.letter-c, div.letter-v,
        div.rps, div.coin, div.card {
          display: inline-block; padding: 1px 3px 1px 19px; background: #36241b; font-size: 0.8em; margin: 0 2px;
        }
        div.dice-4   { background: url("../../img/forum/dice4.png")   left center no-repeat, #36241b }
        div.dice-6   { background: url("../../img/forum/dice6.png")   left center no-repeat, #36241b }
        div.dice-8   { background: url("../../img/forum/dice8.png")   left center no-repeat, #36241b }
        div.dice-10  { background: url("../../img/forum/dice10.png")  left center no-repeat, #36241b }
        div.dice-12  { background: url("../../img/forum/dice12.png")  left center no-repeat, #36241b }
        div.dice-20  { background: url("../../img/forum/dice20.png")  left center no-repeat, #36241b }
        div.dice-100 { background: url("../../img/forum/dice100.png") left center no-repeat, #36241b }
        div.letter-a { background: url("../../img/forum/lta.png")     left center no-repeat, #36241b }
        div.letter-c { background: url("../../img/forum/ltc.png")     left center no-repeat, #36241b }
        div.letter-v { background: url("../../img/forum/ltv.png")     left center no-repeat, #36241b }
        div.rps      { background: url("../../img/forum/rps.png")     left center no-repeat, #36241b }
        div.coin     { background: url("../../img/forum/coin.png")    left center no-repeat, #36241b }
        div.card     { background: url("../../img/forum/card.png")    left center no-repeat, #36241b }
      }
    }
  }
}
