{{ constant('App\\Service\\GameFactory::ErrorTownClosed') }}                     : '{{'Die gewählte Stadt ist bereits voll.'|trans({},'ghost')|e('js')}}',
{{ constant('App\\Service\\GameFactory::ErrorUserAlreadyInGame') }}              : '{{'Du kannst nicht mehr als einer Stadt gleichzeitig beitreten.'|trans({},'ghost')|e('js')}}',
{{ constant('App\\Service\\GameFactory::ErrorMemberBlocked') }}                  : '{{'Ein Mitglied deiner Koalition kann dieser Stadt nicht beitreten.'|trans({},'ghost')|e('js')}}',
{{ constant('App\\Service\\GameFactory::ErrorUserAlreadyInTown') }}              : '{{'Du bist dieser Stadt bereits beigetreten.'|trans({},'ghost')|e('js')}}',
{{ constant('App\\Service\\GameFactory::ErrorTownNoCoaRoom') }}                  : '{{'In dieser Stadt ist kein Platz mehr für dich und deine Koalition.'|trans({},'ghost')|e('js')}}',
{{ constant('App\\Controller\\GameController::ErrorJobAlreadySelected') }}       : '{{'Du hast bereits einen Beruf gewählt.'|trans({},'game')|e('js')}}',
{{ constant('App\\Controller\\GameController::ErrorJobInvalid') }}               : '{{'Ungültige Auswahl.'|trans({},'game')|e('js')}}',
{{ constant('App\\Controller\\Town\\TownController::ErrorWellEmpty') }}          : '{{'Der Brunnen ist leer!'|trans({},'game')|e('js')}}',
{{ constant('App\\Controller\\Town\\TownController::ErrorWellLimitHit') }}       : '{{'Du kannst heute keine weiteren Rationen entnehmen.'|trans({},'game')|e('js')}}',
{{ constant('App\\Controller\\Town\\TownController::ErrorWellNoWater') }}        : '{{'Hierfür brauchst du klares Wasser (keine Kanister)!'|trans({},'game')|e('js')}}',
{{ constant('App\\Controller\\Town\\TownController::ErrorDoorAlreadyClosed') }}  : '{{'Das Stadttor wurde bereits von einem anderen pflichtbewussten Bürger geschlossen.'|trans({},'game')|e('js')}}',
{{ constant('App\\Controller\\Town\\TownController::ErrorDoorAlreadyOpen') }}    : '{{'Das Tor ist bereits offen.'|trans({},'game')|e('js')}}',
{{ constant('App\\Controller\\Town\\TownController::ErrorNotEnoughRes') }}       : '{{'Für dieses Gebäude fehlen Baumaterialien.'|trans({},'game')|e('js')}}',
{{ constant('App\\Controller\\Town\\TownController::ErrorAlreadyUpgraded') }}    : '{{'Du hast heute bereits eine Verbesserung deines Hauses vorgenommen.'|trans({},'game')|e('js')}}',
{{ constant('App\\Controller\\Town\\TownController::ErrorComplaintLimitHit') }}  : '{{'Du kannst heute keine weiteren Beschwerden vorbringen.'|trans({},'game')|e('js')}}',
{{ constant('App\\Controller\\Town\\TownController::ErrorAlreadyFinished') }}    : '{{'Dieses Bauprojekt wurde bereits abgeschlossen.'|trans({},'game')|e('js')}}',
{{ constant('App\\Controller\\Town\\TownController::ErrorTownChaos') }}    : '{{'Diese Aktion ist während der <strong>Chaosperiode</strong> night erlaubt!'|trans({},'game')|e('js')}}',
{{ constant('App\\Controller\\Town\\TownController::ErrorAlreadyWatered') }}    : '{{'Diese Leiche wurde bereits mit Wasser übergossen, siehst du denn nicht die Pfütze bei den Füßen?!!'|trans({},'game')|e('js')}}',
{{ constant('App\\Controller\\Town\\TownController::ErrorAlreadyThrown') }}    : '{{'Diese Leiche wurde bereits außerhalb der Stadt entsorgt!'|trans({},'game')|e('js')}}',